$desktop: 992px;
$tablet: 768px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}
@include desktop {
  .signUpFooter {
    text-align: left;
  }
}
#headerResponse {
  justify-content: center;
}
.containerSpace {
  margin-top: 6rem;
}
.infoImage {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  height: 200px;
  @include tablet {
    height: 400px;
  }
  @include desktop {
    width: 300px;
    height: 400px;
  }
}
#heroImage {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 250px;
  @include tablet {
    height: 400px;
  }
  @include desktop {
    width: 1000px;
    height: 600px;
  }
}
#landingPageContainer {
  :global {
    .ant-layout-header,
    .ant-layout-content,
    .ant-layout-footer {
      background: white;
      padding: 0;
    }
    .landingImage {
      border-radius: 0.5rem;
    }
    .ant-list-item {
      border: none;
      .anticon,
      .anticon-check {
        color: #4e89ff;
        font-size: 1.2rem;
      }
    }
    .landingTitle {
      font-size: 3rem;
      text-align: center;
      margin: 0;
    }
    .titleDescription {
      font-size: 1.2rem;
      text-align: center;
      margin-top: 0.5rem;
    }
    .signUpFooter {
      text-align: center;
      @include desktop {
        text-align: left;
      }
    }
  }
  .ant-drawer-header {
    border-bottom: 0;
    .ant-drawer-title {
      font-size: 1.5rem;
    }
  }
  .cardOptions {
    background: #ffffff0f;
    border-radius: 1rem;
    width: 400px;
    height: 400px;
    padding: 20px;
    margin: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    ul {
      list-style: none;
      padding: 0;
      font-size: 1rem;
      li {
        padding: 0.5rem 0;
      }
    }
    h2 {
      font-size: 2.8rem;
    }
    .cardMainContent {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 140px;
    }
    .cardFooterContent {
      h3 {
        font-size: 2.8rem;
      }
      button {
        width: 12rem;
      }
    }
  }
}
