#createRoomContainer {
  :global {
    .section {
      margin: 2rem 0;
    }
    .buttonShadow {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  }
}
#stepTwoFormContainer {
  :global {
    .ant-upload-list-picture-card-container {
      width: 75px;
      height: 75px;
      display: flex;
      margin: 1rem 0;
    }
    .ant-upload-list-picture .ant-upload-list-item,
    .ant-upload-list-picture-card .ant-upload-list-item {
      padding: 0;
    }
    .ant-upload-list-picture .ant-upload-list-item-info,
    .ant-upload-list-picture-card .ant-upload-list-item-info {
      padding: 0.5rem;
    }
    .ant-upload.ant-upload-drag {
      height: 10rem;
      width: 100%;
    }
  }
}
#setupConfirmationFormContainer {
  :global {
    .ant-collapse-icon-position-right
      > .ant-collapse-item
      > .ant-collapse-header {
      padding-left: 0;
    }
    .anticon .anticon-check-circle,
    .successIcon {
      font-size: 150px;
    }
    .submittedTitle {
      h1.ant-typography,
      .ant-typography h1 {
        // line-height: 1;
      }
    }
    .buttonShadow {
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  }
}
