$desktop: 992px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}
#setupPageContainer{
  min-height: 100vh;
  :global {
    .ant-page-header, .ant-page-header-ghost, .ant-page-header-compact{
      padding:0;
      padding-bottom: 1rem;
    }
   .anticon, .anticon-heart{
     font-size:1.5rem;
     cursor: pointer;
    }
   .ant-page-header-heading-extra{
      display: flex;
      align-items:center;
   }
   .ant-tabs, .ant-tabs-top, .ant-tabs-mobile{
     padding: 1rem;
   }
  
     }
       @include desktop {
     img{
       border-radius: 1rem;
     } 
    }
}
