$desktop: 992px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

#layoutcontainer {
  #mobileNavBar {
    :global {
      .ant-layout-header,
      .ant-typography {
        color: white;
        padding: 0;
        @include desktop {
          display: none;
        }
      }
    }
  }

  .contentContainer {
    padding: 1rem;
    @include desktop {
      margin-left: 200px;
      padding: 2rem;
    }
  }
  // .ant-layout-sider,
  // .ant-layout-sider-light {
  //   display: none;
  // }
  #pageContent {
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
    border-radius: 1rem;
    min-height: 90%;
    @include desktop {
      padding: 1rem 2rem;
    }
  }
  #siderContent {
    :global {
      .ant-layout-sider,
      .ant-layout-sider-light {
        padding-top: 2rem;
        position: fixed;
        left: 0;
        background-color: #2f343b;
      }
    }
  }
  :global {
    .ant-drawer-content-wrapper,
    .ant-drawer-content,
    .ant-drawer-header {
      background-color: rgb(47, 52, 59);
      a,
      .ant-drawer-title,
      .anticon,
      .anticon-close {
        color: white;
      }
    }
  }
}
.mobileDrawer {
  :global {
    .ant-drawer-content-wrapper,
    .ant-drawer-content,
    .ant-drawer-header {
      background-color: rgb(47, 52, 59);
      a,
      .ant-drawer-title,
      .anticon,
      .anticon-close {
        color: white;
      }
    }
    .ant-drawer-header {
      border-bottom: 0;
      .ant-drawer-title {
        font-size: 1.5rem;
      }
    }
    .ant-menu,
    .ant-menu-light,
    .ant-menu-root,
    .ant-menu-inline {
      background-color: #2f343b;
      border-right: none;
    }
    .ant-menu-item,
    .ant-menu-item-only-child {
      color: white;
    }
    .ant-menu-submenu-title {
      color: white;
    }
    .ant-menu-item-group {
      background-color: #2f343b;
    }
    .ant-menu-item,
    .ant-menu-item-only-child {
      margin: 0;
    }
    .ant-drawer-body {
      padding: 2rem 0;
    }
  }
}
